.headerContainer {
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--color-dark-20);
    gap: 3rem;
    padding: 4rem 0;
}

@media (max-width: 480px) {
    .headerContainer {
        gap: 2rem;
        padding: 3rem 0;
    }

    .logoIcon {
        width: 6.375rem; /* 102px */
        height: 1.9375rem; /* 31px */
    }
}