@import 'tailwindcss';

@theme inline {
    --color-brand: #E07B67;
    --color-dark-10: #121214;
    --color-dark-20: #17171A;
    --color-dark-30: #202024;
    --color-dark-40: #252529;
    --color-dark-50: #AFABB6;
    --color-dark-60: #FFFFFF;

    --font-family-sans: var(--font-geist-inter);
}
