.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #17171A;
    gap: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.searchContainer {
    width: calc(100% - 22rem);
    background: #202024;
    border: 2px solid #252529;
    border-radius: 8px;
}

.searchInput {
    font-weight: 500;
    font-size: 1.25rem;
    color: #AFABB6;
    margin: 1rem 1.5rem;
}

.searchInput:focus {
    outline: none;
}